<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>

    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="false"/>
        <staticContent>
          <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
          <mimeMap fileExtension=".m4a" mimeType="audio/m4a" />
          <mimeMap fileExtension=".ogg" mimeType="application/ogg" />
        </staticContent>
      </system.webServer>
</configuration>